<ns-action-bar
  [title]="isLogin ? 'Sign Up' : 'Login'"
  [showBackButton]="false"
  [showToggleBar]="false"
></ns-action-bar>
<FlexboxLayout class="form" [formGroup]="loginForm">
  <StackLayout class="input-field">
    <Label class="label" text="Mobile Number"></Label>
    <TextField
      class="input"
      returnKeyType="next"
      [autocorrect]="false"
      [autocapitalization]="false"
      formControlName="username"
      #usernameEl
    >
</TextField>
    <Label
      *ngIf="!usernameControlIsValid"
      text="Please enter your Mobile Number"
    ></Label>
  </StackLayout>

  <Button
    class="btn login_btn_specific_style"
    (tap)="onSubmit()"
    [text]="isLogin ? 'Login' : 'Sign Up'"
    [isEnabled]="loginForm.valid"
  ></Button>
</FlexboxLayout>
