/* Add mobile styles for the component here.  */
.notification_btn_navigate {
    background-color: #FFFFFF;
    color: #1414f8;
    border-radius: 30%;
    border-color: #3f3f3f;
    border-width: 2;
    margin-left: 60;
    margin-right: 60;
}
