<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257195669641-qu36ar960o5eu4o3s3t3hljnhn8i98as.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257195669641-qu36ar960o5eu4o3s3t3hljnhn8i98as</string>
	<key>API_KEY</key>
	<string>AIzaSyBCgm16nNiB7tdU0YidOsFMo8Wqj8ex-e8</string>
	<key>GCM_SENDER_ID</key>
	<string>257195669641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.youthiafoundation</string>
	<key>PROJECT_ID</key>
	<string>valazs-labs-m1-c1</string>
	<key>STORAGE_BUCKET</key>
	<string>valazs-labs-m1-c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257195669641:ios:509bb04fc19576ff</string>
	<key>DATABASE_URL</key>
	<string>https://valazs-labs-m1-c1.firebaseio.com</string>
</dict>
</plist>