<ns-action-bar title="Post Updates" [showToggleBar]="false"></ns-action-bar>
<FlexboxLayout  class="updates-form">
<StackLayout class="input-field">
  <Label text="Welcome to post updates page Admin"></Label>
  <Label text="Enter Your Message"></Label>
  <TextView
    class="input"
    returnKeyType="next"
    required
    ngModel
    #postMessageCtrl="ngModel"
    [autocorrect]="false"
    [autocapitalization]="false"
  ></TextView>
  <Label text="Enter Video Link"></Label>
  <TextField
    class="input"
    returnKeyType="done"
    required
    ngModel
    #videoLinkCtrl="ngModel"
    [autocorrect]="false"
    [autocapitalization]="false"
  ></TextField>
  <Button text="Post" (tap)="onPostClick(postMessageCtrl.value, videoLinkCtrl.value)" class="btn"></Button>
</StackLayout>
</FlexboxLayout>
